In [4]:
import pandas as pd
import numpy as np
#to perform scaling we import std scaler from sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
# to check accuracy of our predictions import 
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('diabetes.csv')

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
df.shape

(768, 9)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

# 0 non diabetic
# 1 diabetic

In [29]:
x = df.iloc[:,:8]
y = df.iloc[:,[8]]

In [31]:
x.head(3) # all columns except outcome

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32

In [32]:
y.head(3) #only outcome

   Outcome
0        1
1        0
2        1

In [33]:
scaler = StandardScaler()

In [35]:
scaler.fit(x)

StandardScaler()

In [36]:
stadardized_data = scaler.transform(x)

In [37]:
x = stadardized_data

In [38]:
x

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [41]:
x_train.shape, x_test.shape

((614, 8), (154, 8))

## Train the model

In [42]:
clf = svm.SVC(kernel = 'linear')

In [43]:
clf.fit(x_train, y_train)

C:\Users\SAi\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [44]:
x_train_prediction = clf.predict(x_train)
accuracy_score(x_train_prediction, y_train)

0.7736156351791531

## Accuracy on test data

In [46]:
x_test_prediction = clf.predict(x_test)
accuracy_score(x_test_prediction, y_test)

0.8116883116883117

In [70]:
def check_diabetes(std_data):
    if clf.predict(std_data) == 0:
        print("Person is Non-diabetic")
    else:
        print("Person is diabetic")

In [72]:
input_sample = input("Enter values of person ")
# Split the string by commas and remove any leading/trailing whitespace
values = input_sample.split(',')

# Convert each value to the appropriate data type
converted_values = [int(val.strip()) if val.strip().isdigit() else float(val.strip()) for val in values]

# Create a tuple from the converted values
result_tuple = tuple(converted_values)

input_np_array = np.asarray(result_tuple).reshape(1,-1)
std_data = scaler.transform(input_np_array)
check_diabetes(std_data)

Enter values of person10, 150, 90, 40, 180, 32, 0.8, 45
Person is diabetic

C:\Users\SAi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(