In [12]:
import pandas as pd
import numpy as np

In [13]:
# Load the dataset
df = pd.read_csv('User_Data.csv')

In [14]:
# Display the first few rows of the dataset
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
# Get information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [16]:
# Perform descriptive statistics on the dataset
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [22]:
# Select the input features and target variable
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [23]:

from sklearn.model_selection import train_test_split

In [24]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
# Create a Random Forest classifier
clf = RandomForestClassifier()

In [28]:
# Fit the classifier to the training data
clf.fit(X_train, y_train)

RandomForestClassifier()

In [29]:
# Make predictions on the test data
y_pred = clf.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score

In [32]:
# Calculate the accuracy of the classifier
accuracy_score(y_test, y_pred)

0.9125